# Text editor
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
env/

# Vim temporary files
*.swp

# Tester temporary files
/test/*/sed-output.txt
/test/*/sedsed-output.txt
/test/*/w.out1
/test/*/w.out2
