# Run all checks except those

[MESSAGES CONTROL]
enable=all
disable=
    attribute-defined-outside-init,
    bad-continuation,
    bad-whitespace,
    bare-except,
    consider-using-enumerate,
    fixme,
    invalid-name,
    missing-docstring,
    no-self-use,
    redefined-outer-name,
    too-few-public-methods,
    too-many-branches,
    too-many-instance-attributes,
    too-many-lines,
    too-many-locals,
    too-many-statements,
    unsubscriptable-object,
    useless-object-inheritance,

# No reports, please

[MASTER]
persistent=no

[REPORTS]
reports=no
score=no
