# Run all checks except those

[MESSAGES CONTROL]
enable=all
disable=
    bad-whitespace,
    fixme,
    invalid-name,
    missing-docstring,
    too-few-public-methods,
    too-many-branches,
    too-many-instance-attributes,
    too-many-lines,
    too-many-locals,
    too-many-statements,
    useless-object-inheritance,  # required while supporting python2

# Wide screen monitors are nice

[FORMAT]
max-line-length=120

# No reports, please

[MASTER]
persistent=no

[REPORTS]
reports=no
score=no
