[MESSAGES CONTROL]
# Run all checks except those
enable=all
disable=
    locally-disabled,
    suppressed-message,
    fixme,
    missing-docstring,
    bad-continuation,  # incompatible with black

[VARIABLES]
allow-global-unused-variables=no

[FORMAT]
max-line-length=88  # black compatible
expected-line-ending-format=LF  # enforce Unix \n

# No reports, please
[MASTER]
persistent=no
[REPORTS]
reports=no
score=no
